---
# Main stylesheet
---
/*html, body { 
  margin:0; 
  padding:0; 
  /\*height:100%;*\/
  /\*background-color:#3a3a3c;*\/
}*/
#wrapper {
    max-width:1200px;
    margin:auto;
    /*height:100%;*/
    /*min-height:100vh;*/
    /*background-color:white;*/
}
#banner {
    max-width:100%;
    min-height:15%;
    margin-bottom:3em;
    overflow-x:hidden;
}
#banner img {
    max-width:170%;
    height:auto;
}
#body {
    /*width:100%;*/
    /*height:85vh;*/
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    line-height:1.5;
    font-size:large;
}
nav {
    width:30%;
    vertical-align:top;
    margin-right:5%;
}
#content {
    width:50%;
    border-left: black 1px solid;
    margin-left: -5%;
    padding-left:5%;
    /*min-height:80%;*/
}
nav, #content {
    display:inline-block;
}

nav ul {
    list-style:none;
    display:block;
    padding-left:0px;
    margin-left:auto;
    margin-right:10%;
    margin-top:0;
    width:50%;
    font-weight:bold;
    font-size:110%;
}
nav li {
    margin-bottom:1em;
}

span.title {
    font-style:italic;
}
span.version{
    font-weight:bold;
}

h1, h2, nav li > a:hover {
    color:#3a538f;
}

#content > h1 {
    margin-top:0;
    font-size:125%;
}

h2 {
    font-weight: normal;
    font-size: 110%;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}
h2 > a:hover {
    text-decoration: underline;
}
h2 > a, nav li > a {
    color: inherit;
    text-decoration: none;
}
div.proj_lead {
    font-size:110%;
}

@media (max-width: 600px) {
    nav, #content {
        display:block;
        width:100%;
    }
    nav {
        border-top: 1px solid black;
        padding-top: 1em;
    }
    nav ul {
        width:auto;
        margin-right:auto;
        text-align:center;
    }
    nav li {
        margin-bottom:0.25em;
    }
    #content {
        border-left:0;
        border-top:black 1px solid;
        margin-left:0;
        padding-left:0;
        padding-top:0.5em;
    }
    #banner{
        margin-bottom: 0.5em;
    }
}

