<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SEENET - Society for Early English &amp; Norse Electronic Texts</title>
        <link rel="stylesheet" type="text/css" href="../../css/seenet/seenet.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/media/images/seenet/icons/apple-touch-icon.png"/>
        <link rel="icon" type="image/png" href="/media/images/seenet/icons/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/media/images/seenet/icons/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="/media/images/seenet/icons/manifest.json"/>
        <link rel="mask-icon" href="/media/images/seenet/icons/safari-pinned-tab.svg" color="#5bbad5"/>
        <link rel="shortcut icon" href="/media/images/seenet/icons/favicon.ico"/>
        <meta name="apple-mobile-web-app-title" content="SEENET"/>
        <meta name="application-name" content="SEENET"/>
        <meta name="msapplication-config" content="/media/images/seenet/icons/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff"/>
    </head>
    <body>
        <div id="wrapper">
            <div id="banner">
                <img src="/media/images/seenet/seenet_banner.png"
                    alt="Society for Early English and
                 Norse Electronic Texts" />
            </div>
            <div id="body">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About SEENET</a></li>
                        <li><a href="#">Texts</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">Call for Proposals</a></li>
                    </ul>
                </nav>
                <div id="content">
                    <h1>Featured Projects</h1>
                    <div class="project">
                        <h2><a href="http://piers.chass.ncsu.edu">Piers Plowman Electronic
                                Archive</a></h2>
                        <div class="descr">
                            <span class="title">The Piers Plowman Electronic Archive</span>, a
                            collaborative open-access project, presents the rich textual tradition
                            of <span class="title">Piers Plowman</span>, a fourteenth-century
                            allegorical dream vision attributed to William Langland. Three distinct
                            versions of the poem (<span class="version">A</span>, <span
                                class="version">B</span>, and <span class="version">C</span>)
                            survive in more than fifty unique manuscripts, none in Langland's own
                            hand. The digital format of this project enables instructors, students,
                            and researchers to explore late medieval and manuscript culture through
                            the many variations of <span class="title">Piers Plowman</span>. </div>
                    </div>
                    <div class="project">
                        <h2>Siege of Jerusalem Electronic Archive</h2>
                        <div class="proj_lead">Timothy L. Stinson, Editor</div>
                        <div class="descr">
                            <span class="title">The Siege of Jerusalem Electronic Archive</span>
                            presents full transcriptions and accompanying color images of all
                            surviving manuscripts of <span class="title">The Siege of
                                Jerusalem</span>, an anonymous 14th-century Middle English poem.
                            Texts and images are accompanied by detailed descriptions of the
                            manuscripts and tools for searching the archive and comparing the
                            variant readings found in all manuscript copies. </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
