<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SEENET:
	{% if page.title == "Home" %}
		Society for Early English and Norse Electronic Texts
	{% else %}
		{{page.title}}
	{% endif %}
	</title>
        <link rel="stylesheet" type="text/css" href="/css/seenet.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png"/>
        <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="/images/icons/manifest.json"/>
        <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5"/>
        <link rel="shortcut icon" href="/images/icons/favicon.ico"/>
        <meta name="apple-mobile-web-app-title" content="SEENET"/>
        <meta name="application-name" content="SEENET"/>
        <meta name="msapplication-config" content="/images/icons/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff"/>

        <meta name="og:image" href="/images/seenet_og.png"/>
    </head>
    <body>
        <header>
            <div id="banner">
                <img src="/images/seenet_banner.svg"
                    alt="Society for Early English and
                 Norse Electronic Texts" />
            </div>
        </header>

                <nav>
                    <ul>
                        {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                        {% for p in navigation_pages %}
                            {% if p.navigation_weight %}
                                <li>
                                    <a href="{{site.baseurl}}{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                                        {{ p.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                <main>
                	<h1>
                	{% if page.heading %}
                		{{ page.heading }}
                	{% else %}
                		{{ page.title }}
                	{% endif %}
                	</h1>
                    {{ content }}
                </main>
    </body>
</html>
